version: '3.8'
services:
  postgres:
    container_name: rf-postgres
    image: postgres:16.1-alpine3.17
    environment:
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      POSTGRES_USER: '${POSTGRES_USER}'
      POSTGRES_DB: '${POSTGRES_DB}'
    volumes:
      - postgres:/data/postgres
    networks:
      - postgres
    restart: unless-stopped
    ports:
      - '${DOCKER_POSTGRES_PUBLIC_PORT}:${DOCKER_POSTGRES_PORT}'

  pgadmin:
    container_name: rf-pgadmin
    image: dpage/pgadmin4:8.0
    environment:
      PGADMIN_DEFAULT_EMAIL: '${DOCKER_PGADMIN_DEFAULT_EMAIL}'
      PGADMIN_DEFAULT_PASSWORD: '${DOCKER_PGADMIN_DEFAULT_PASSWORD}'
    volumes:
      - pgadmin:/root/.pgadmin
    networks:
      - postgres
    depends_on:
      - postgres
    restart: unless-stopped
    ports:
      - '${DOCKER_PGADMIN_PUBLIC_PORT}:${DOCKER_PGADMIN_PORT}'

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
  pgadmin:

